.actions {
    position: absolute;
    top: 1.5%;
    right: 1.5%;
    display: flex;
    column-gap: 0.3rem;
    z-index: 2;
}

.article-button {
    cursor: pointer;
    background-color: transparent;
    padding: 0.2rem;
    border: none;
    display: grid;
    place-items: center;
    transition: 200ms all ease-in-out;
    text-decoration: none;
}

.article-button:hover > .button-image {
    transform: scale(1.05);
    opacity: 0.9;
}

.article-container-image::before {
    content: "";
    background-color: rgb(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
}
