.articles-section {
    padding: 3rem 1rem;
}

.articles-container-title-and-link {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.articles-container:not(:last-child) {
    margin-bottom: 2rem;
}

.article-link {
    display: flex;
    align-items: center;
    color: var(--blue-color);
    column-gap: 1rem;
}

.articles-container {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 1rem;
}

.article {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.actions {
    position: absolute;
    top: 1%;
    left: 64%;
    display: flex;
    column-gap: 0.5rem;
}

.article-button {
    padding: 0.1rem;
    border: none;
    background-color: transparent;
    display: grid;
    place-items: center;
}

.article-button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.article-container-image {
    display: flex;
}

.article-image {
    width: 11rem;
    height: 10.875rem;
    flex-grow: 1;
    border-radius: 0.3rem;
}

.article-price::before {
    content: "$ ";
}

.article-price {
    font-weight: bold;
}
