/* INDEX - GET SOME */

.articles-section {
    padding: 3rem 1rem;
}

.articles-container-title-and-link {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.article-link {
    display: flex;
    align-items: center;
    color: var(--blue-color);
    column-gap: 1rem;
    text-decoration: none;
}

.articles-container {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.articles-container:not(:last-child) {
    margin-bottom: 2rem;
}

.article {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.article-container-image {
    position: relative;
    display: flex;
}

.article-image {
    width: 13rem;
    height: 11rem;
    flex-grow: 1;
    border-radius: 0.3rem;
}

/* SHOW_ARTICLE - GET */

.article-selected {
    padding: 2rem;
    display: flex;
    gap: 1rem;
}

.article-container-image-selected {
    display: flex;
    width: 40rem;
    max-height: 35rem;
}

.article-image-selected {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
}

.article-section-selected {
    flex-shrink: 2;
}

.article-price::before,
.article-price-selected::before {
    content: "$ ";
}

.article-name-selected {
    font-size: 4rem;
}

.article-price,
.article-price-selected {
    font-weight: bold;
}

.article-description-selected {
    margin-top: 1rem;
    max-width: 100ch;
}

@media screen and (max-width: 768px) {
    .article-name-selected {
        font-size: 2rem;
    }

    .article-container-image-selected {
        max-width: 20rem;
        max-height: 20rem;
    }

    .article-section-selected {
        flex-shrink: 1;
    }
}

@media screen and (max-width: 580px) {
    .article-selected {
        flex-wrap: wrap;
    }

    .article-container-image-selected {
        max-width: 100%;
        max-height: 40rem;
    }
}

@media screen and (max-width: 496px) {

    .article,
    .article-container-image,
    .article-image {
        width: 100%;
    }

    .article-container-image {
        max-height: 20rem;
    }

    .article-image {
        height: 100%;
        max-height: 35rem;
    }
}
