.banner {
    background: url("../assets/images/App/Hero.png") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem 0rem 1rem calc(5%);
    display: flex;
    align-items: start;
    justify-content: end;
    flex-direction: column;
    gap: 1rem;
    color: var(--white-color);
    margin-bottom: 4rem;
}

.banner-title {
    margin-top: 15%;
    font-size: 3rem;
}

@media screen and (max-width: 768px) {
    .banner {
        background: url("../assets/images/App/Hero768.png") no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 480px) {
    .banner {
        background: url("../assets/images/App/Hero480.png") no-repeat;
        background-size: cover;
        background-position: center;
    }

    .banner-title {
        font-size: 2rem;
    }
}
