.footer {
    padding: 3rem 1rem 0rem;
    background-color: var(--light-blue-background);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.about-section {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    text-align: center;
}

.about-menu {
    list-style: none;
}

.about-menu-link {
    text-decoration: none;
    color: black;
}

.concat {
    width: 50%;
}

.concat-title {
    margin-bottom: 0.5rem;
}

.copyright {
    padding: 1rem 0rem;
    text-align: center;
    width: 100%;
    background-color: white;
}

@media screen and (max-width: 480px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .about-section,
    .concat {
        width: 95%;
    }

    .about-section {
        align-items: center;
        flex-direction: column;
    }
}
