.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.form-search {
    display: flex;
}

.search-input::placeholder  {
    color: var(--dark-grey-color);
}

.search-input {
    width: 25vw;
    background-color: var(--light-grey-color);
    color: var(--dark-grey-color);
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 5rem 0rem 0rem 5rem;
}

.search-button {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--light-grey-color);
    border-radius: 0rem 5rem 5rem 0rem;
}

.login-button {
    color: var(--blue-color);
    text-decoration: none;
    padding: 1rem 2rem;
    border: 1px solid var(--blue-color);
}