.login-main {
    padding: 5rem 1rem;
    display: grid;
    place-items: center;
    gap: 2rem;
}

.login-form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 768px) {
    .login-form {
        width: 70%;
    }

    .login-input-box {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .login-form {
        width: 100%;
    }

    .login-input-box {
        width: 90%;
    }
}
