.main-add-article {
    display: grid;
    place-items: center;
    row-gap: 1rem;
    padding: 4rem 1rem;
    background-color: var(--light-grey-color);
}

.add-article-form {
    width: 60%;
}

.add-article-button {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .add-article-form {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .add-article-form {
        width: 90%;
    }
}
