.toast {
    padding: 1.5rem;
    position: fixed;
    bottom: -20%;
    right: 2%;
    border-radius: 0.5rem;
    text-align: center;
    color: var(--white-color);
    transition: all 200ms ease-in-out;
}

.toast-active {
    bottom: 3%;
}

.toast-success {
    background-color: var(--success-color);
    box-shadow: 0rem 0rem 0.4rem 0.1rem var(--success-color);
}

.toast-error {
    background-color: var(--error-color);
    box-shadow: 0rem 0rem 0.4rem 0.1rem var(--error-color);
}

@media screen and (max-width: 480px) {
    .toast {
        padding: 1rem 0.2rem;
    }
}
