.input-box {
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
    text-align: start;
}

.input,
.textarea {
    width: 100%;
    font-family: sans-serif;
    padding: 1.5rem 1rem 1rem 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
}

.input::placeholder,
.textarea::placeholder {
    visibility: hidden;
}

.input:focus ~ .label,
.input:not(:placeholder-shown) ~ .label,
.textarea:focus ~ .label,
.textarea:not(:placeholder-shown) ~ .label {
    top: 1px;
    color: var(--dark-grey-color);
}

.textarea {
    resize: none;
}

.label {
    position: absolute;
    top: 1.2rem;
    left: 16px;
    transition: all 200ms;
    pointer-events: none;
}

.input-error {
    margin: 0.5rem 0rem 0rem 0.5rem;
    color: var(--error-color);
}

.button {
    font-size: 1rem;
    text-align: center;
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 1rem 2rem;
    border: none;
    text-decoration: none;
    z-index: 1
}

.button:hover {
    opacity: 0.9;
    cursor: pointer;
    transform: scale(1.01);
}
