:root {
    --light-blue-background: #eaf2fd;
    --blue-color: #2a7ae4;
    --light-grey-color: #f5f5f5;
    --dark-grey-color: #a2a2a2;
    --white-color: #ffffff;
    --success-color: #0bbf11;
    --error-color: #f80000;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/fonts/Inter.ttf") format("truetype");
}

::-webkit-scrollbar {
    width: 0.2rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    position: relative;
    box-sizing: border-box;
}

main {
    background-color: var(--light-grey-color);
}
