.modal.update__modal {
    width: min(500px, 100%);
}

.modal.update__modal > section > form,
.modal.update__modal > section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal.update__modal > section {
    padding: 1rem;
}

.modal.update__modal > section > h1 {
    text-align: center;
    font-weight: 600;
    font-size: var(--text-size-small);
}

.modal.update__modal > section > form > .form__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.select__multiple > div {
    position: relative;
}

.select__multiple > div > button {
    padding: 25px 10px 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--neutral-400);
    background-color: var(--neutral-50);
    border-radius: var(--border-radius-out);
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.select__multiple > div > button > span {
    color: var(--neutral-600);
}

.select__multiple > div > ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid var(--neutral-400);
    border-top: none;
    background-color: var(--neutral-50);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-out);
    opacity: 0;
    height: 0;
    transition: height 0.3s ease-in-out, opacity 0.5s ease-in-out;
    pointer-events: none;
    overflow-y: auto;
    z-index: 1;
}

.select__multiple.open > div > ul {
    opacity: 1;
    height: 189.5px;
    pointer-events: visible;
}

.select__multiple > div > ul > li {
    padding: 15px 10px;
}

.select__multiple > div > ul > li:not(:last-child) {
    border-bottom: 1px solid var(--neutral-300);
}

.input__box > .select__multiple > legend {
    top: 0;
    font-size: 0.8rem;
}

@media screen and (width <= 365px) {
    .modal.update__modal > section > form > .form__actions > button {
        flex: 1;
    }
}
