<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AluraGeek</title>
        <link rel="stylesheet" href="../styles/bases/reset.css" />
        <link rel="stylesheet" href="../styles/bases/style.css" />
        <link rel="stylesheet" href="../styles/components/buttons.css" />
        <link rel="stylesheet" href="../styles/components/inputs.css" />
        <link rel="stylesheet" href="../styles/components/header.css" />
        <link rel="stylesheet" href="../styles/components/footer.css" />
        <link rel="stylesheet" href="../styles/sections/add-and-update-article.css" />
    </head>
    <body>
        <div class="container">
            <header class="header">
                <nav>
                    <a href="../../index.html">
                        <img src="../assets/images/logo.svg" alt="Logo de AluraGeek" loading="lazy" decoding="async" />
                    </a>
                    <form>
                        <input name="search" type="search" placeholder="¿Qué deseas buscar?" required />
                        <button id="search-button" type="submit">
                            <img src="../assets/icons/search.svg" alt="Buscar" />
                        </button>
                    </form>
                    <div>
                        <a id="login-button" class="button secondary" href="../views/login.html">Login</a>
                        <!-- <a id="logout-button" class="button secondary" href="#">Log out</a> -->
                        <button id="open-search-btn" class="open__search-btn">
                            <img src="../assets/icons/search.svg" alt="Abrir búsqueda" />
                        </button>
                        <button id="exit-search-btn" class="exit__search-btn">
                            <img src="../assets/icons/exit.svg" alt="Cerrar búsqueda" />
                        </button>
                    </div>
                </nav>
            </header>
            <main class="main">
                <section>
                    <h1>Agregar nuevo producto</h1>
                    <form>
                        <div class="input__box">
                            <fieldset>
                                <input name="image" type="text" placeholder="" required />
                                <legend>URL de la imagen</legend>
                            </fieldset>
                            <p></p>
                        </div>
                        <div class="input__box">
                            <fieldset>
                                <select name="category">
                                    <option value="" disabled selected>Debe seleccionar una categoría</option>
                                    <option value="consoles">Consolas</option>
                                    <option value="starWars">Star Wars</option>
                                    <option value="various">Diversos</option>
                                </select>
                                <legend>Categoría</legend>
                            </fieldset>
                            <p></p>
                        </div>
                        <div class="input__box">
                            <fieldset>
                                <input name="name" type="text" placeholder="" required />
                                <legend>Nombre</legend>
                            </fieldset>
                            <p></p>
                        </div>
                        <div class="input__box">
                            <fieldset>
                                <input name="price" type="number" placeholder="" required />
                                <legend>Precio</legend>
                            </fieldset>
                            <p></p>
                        </div>
                        <div class="input__box">
                            <fieldset>
                                <textarea name="description" placeholder="" maxlength="150" required></textarea>
                                <legend>Descripción</legend>
                            </fieldset>
                            <p></p>
                        </div>
                        <button type="submit" class="button primary">Agregar producto</button>
                    </form>
                </section>
            </main>
            <footer class="footer">
                <section>
                    <nav>
                        <a href="#">
                            <img
                                src="../assets/images/logo.svg"
                                alt="Logo de AluraGeek"
                                loading="lazy"
                                decoding="async"
                            />
                        </a>
                        <ul>
                            <li><a href="#">Quienes somos</a></li>
                            <li><a href="#">Política de privacidad</a></li>
                            <li><a href="#">Programa de fidelidad</a></li>
                            <li><a href="#">Nuestras Tiendas</a></li>
                            <li><a href="#">Quiero ser franquiciado</a></li>
                            <li><a href="#">Anúncie aquí</a></li>
                        </ul>
                    </nav>
                    <div>
                        <h2>Hable con nosotros</h2>
                        <form>
                            <div class="input__box">
                                <fieldset>
                                    <input name="name" type="text" placeholder="" required />
                                    <legend>Nombre</legend>
                                </fieldset>
                                <p></p>
                            </div>
                            <div class="input__box">
                                <fieldset>
                                    <textarea name="message" placeholder="" required></textarea>
                                    <legend>Mensaje</legend>
                                </fieldset>
                                <p></p>
                            </div>
                            <button type="submit" class="button primary">Enviar mensaje</button>
                        </form>
                    </div>
                </section>
                <section>
                    <span>&copy; Yordi Castro Rojas</span>
                    <span>2023</span>
                </section>
            </footer>
            <!-- TOASTS -->
            <div class="toast">
                <span class="toast-message"></span>
            </div>
        </div>
    </body>
</html>
