<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>AluraGeek</title>
        <link rel="icon" type="image/svg+xml" href="/src/assets/images/logo.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/bases/reset.css" />
        <link rel="stylesheet" href="../styles/bases/style.css" />
        <link rel="stylesheet" href="../styles/components/buttons.css" />
        <link rel="stylesheet" href="../styles/components/inputs.css" />
        <link rel="stylesheet" href="../styles/components/header.css" />
        <link rel="stylesheet" href="../styles/components/articles-gallery.css" />
        <link rel="stylesheet" href="../styles/components/footer.css" />
        <link rel="stylesheet" href="../styles/components/modal.css" />
        <link rel="stylesheet" href="../styles/components/dropdown.css" />
        <link rel="stylesheet" href="../styles/sections/search-articles.css" />
        <link rel="stylesheet" href="../styles/sections/insert-article.css" />
    </head>
    <body>
        <div class="container">
            <header class="header">
                <nav>
                    <a href="../../index.html">
                        <img src="../assets/images/logo.svg" alt="Logo de AluraGeek" loading="lazy" decoding="async" />
                    </a>
                    <form>
                        <input name="search" type="search" placeholder="¿Qué deseas buscar?" required />
                        <button type="submit">
                            <svg width="24" height="24" viewBox="0 0 48 48">
                                <g fill="none" stroke="var(--neutral-600)" stroke-linejoin="round" stroke-width="4">
                                    <path
                                        d="M21 38c9.389 0 17-7.611 17-17S30.389 4 21 4S4 11.611 4 21s7.611 17 17 17Z"
                                    />
                                    <path
                                        stroke-linecap="round"
                                        d="M26.657 14.343A7.98 7.98 0 0 0 21 12a7.98 7.98 0 0 0-5.657 2.343m17.879 18.879l8.485 8.485"
                                    />
                                </g>
                            </svg>
                        </button>
                    </form>
                    <div>
                        <a id="login-button" class="button secondary login__btn" href="../views/login.html">Login</a>
                        <button id="logout-button" class="button secondary logout__btn">Logout</button>
                        <button id="open-search-btn" class="open__search-btn">
                            <svg width="24" height="24" viewBox="0 0 48 48">
                                <g fill="none" stroke="var(--neutral-600)" stroke-linejoin="round" stroke-width="4">
                                    <path
                                        d="M21 38c9.389 0 17-7.611 17-17S30.389 4 21 4S4 11.611 4 21s7.611 17 17 17Z"
                                    />
                                    <path
                                        stroke-linecap="round"
                                        d="M26.657 14.343A7.98 7.98 0 0 0 21 12a7.98 7.98 0 0 0-5.657 2.343m17.879 18.879l8.485 8.485"
                                    />
                                </g>
                            </svg>
                        </button>
                        <button id="exit-search-btn" class="exit__search-btn">
                            <svg width="28" height="28" viewBox="0 0 24 24">
                                <path
                                    fill="none"
                                    stroke="var(--neutral-600)"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M18 6L6 18M6 6l12 12"
                                />
                            </svg>
                        </button>
                    </div>
                </nav>
            </header>
            <main class="main">
                <section class="articles__section">
                    <div>
                        <header>
                            <h2>Todos los productos</h2>
                            <button id="open-insert-article-modal-btn" class="button primary">Agregar</button>
                        </header>
                        <section id="articles-container"></section>
                    </div>
                </section>
                <section id="not-found-section" class="not__found-section">
                    <p>No se encontraron articulos</p>
                </section>
            </main>
            <footer class="footer">
                <section>
                    <nav>
                        <a href="#">
                            <img
                                src="../assets/images/logo.svg"
                                alt="Logo de AluraGeek"
                                loading="lazy"
                                decoding="async"
                            />
                        </a>
                        <ul>
                            <li><a href="#">Quienes somos</a></li>
                            <li><a href="#">Política de privacidad</a></li>
                            <li><a href="#">Programa de fidelidad</a></li>
                            <li><a href="#">Nuestras Tiendas</a></li>
                            <li><a href="#">Quiero ser franquiciado</a></li>
                            <li><a href="#">Anúncie aquí</a></li>
                        </ul>
                    </nav>
                    <div>
                        <h2>Hable con nosotros</h2>
                        <form>
                            <div class="input__box">
                                <fieldset>
                                    <input name="name" type="text" placeholder="" required />
                                    <legend>Nombre</legend>
                                </fieldset>
                                <p></p>
                            </div>
                            <div class="input__box">
                                <fieldset>
                                    <textarea name="message" placeholder="" required></textarea>
                                    <legend>Mensaje</legend>
                                </fieldset>
                                <p></p>
                            </div>
                            <button type="submit" class="button primary">Enviar mensaje</button>
                        </form>
                    </div>
                </section>
                <section>
                    <span>&copy; Yordi Castro Rojas</span>
                    <span>2023</span>
                </section>
            </footer>
            <!-- MODALS -->
            <dialog id="insert-article-modal" class="modal insert__modal" closedby="any">
                <header>
                    <h2>Agregar artículo</h2>
                    <button type="button">
                        <svg width="28" height="28" viewBox="0 0 24 24">
                            <path
                                fill="none"
                                stroke="var(--neutral-50)"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M18 6L6 18M6 6l12 12"
                            />
                        </svg>
                    </button>
                </header>
                <section>
                    <form id="insert-article-form">
                        <div class="input__box">
                            <fieldset>
                                <input name="image" type="url" placeholder="" required />
                                <legend>URL de la imagen</legend>
                            </fieldset>
                            <p></p>
                        </div>
                        <div class="input__box">
                            <fieldset id="categories-dropdown" class="dropdown">
                                <div>
                                    <button type="button">
                                        <span>Seleccionar países</span>
                                        <svg width="24" height="24" viewBox="0 0 24 24">
                                            <path
                                                fill="none"
                                                stroke="var(--neutral-900)"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                stroke-width="1.5"
                                                d="M18 15s-4.419-6-6-6s-6 6-6 6"
                                                color="var(--neutral-900)"
                                            />
                                        </svg>
                                    </button>
                                    <ul></ul>
                                </div>
                                <legend>Categorias</legend>
                            </fieldset>
                            <p></p>
                        </div>
                        <div class="input__box">
                            <fieldset>
                                <input
                                    name="name"
                                    type="text"
                                    placeholder=""
                                    pattern="^[a-zA-ZáéíóúüÁÉÍÓÚÜñÑ\s]+$"
                                    required
                                />
                                <legend>Nombre</legend>
                            </fieldset>
                            <p>wetwertwer</p>
                        </div>
                        <div class="input__box">
                            <fieldset>
                                <input name="price" type="number" placeholder="" step="0.01" min="0.01" required />
                                <legend>Precio</legend>
                            </fieldset>
                            <p></p>
                        </div>
                        <div class="input__box">
                            <fieldset>
                                <textarea
                                    name="description"
                                    placeholder=""
                                    minlength="20"
                                    maxlength="150"
                                    required
                                ></textarea>
                                <legend>Descripción</legend>
                            </fieldset>
                            <p></p>
                        </div>
                        <div class="form__actions">
                            <button type="submit" class="button primary">Agregar</button>
                            <button type="button" class="button tertiary cancel__button">Cancelar</button>
                        </div>
                    </form>
                </section>
            </dialog>
        </div>
    </body>
    <script type="module" src="../scripts/sections/searchArticles.js"></script>
    <script type="module" src="../scripts/sections/insertArticle.js"></script>
</html>
