<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>AluraGeek</title>
        <link rel="icon" type="image/svg+xml" href="/src/assets/images/logo.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/bases/reset.css" />
        <link rel="stylesheet" href="../styles/bases/style.css" />
        <link rel="stylesheet" href="../styles/components/buttons.css" />
        <link rel="stylesheet" href="../styles/components/inputs.css" />
        <link rel="stylesheet" href="../styles/components/header.css" />
        <link rel="stylesheet" href="../styles/components/footer.css" />
        <link rel="stylesheet" href="../styles/sections/articles.css" />
        <link rel="stylesheet" href="../styles/sections/show-article.css" />
    </head>
    <body>
        <div class="container">
            <header class="header">
                <nav>
                    <a href="../../index.html">
                        <img src="../assets/images/logo.svg" alt="Logo de AluraGeek" loading="lazy" decoding="async" />
                    </a>
                    <form>
                        <input name="search" type="search" placeholder="¿Qué deseas buscar?" required />
                        <button type="submit">
                            <img src="../assets/icons/search.svg" alt="Buscar" />
                        </button>
                    </form>
                    <div>
                        <a id="login-button" class="button secondary login__btn" href="./src/views/login.html">Login</a>
                        <button id="logout-button" class="button secondary logout__btn">Logout</button>
                        <button id="open-search-btn" class="open__search-btn">
                            <img src="../assets/icons/search.svg" alt="Abrir búsqueda" />
                        </button>
                        <button id="exit-search-btn" class="exit__search-btn">
                            <img src="../assets/icons/exit.svg" alt="Cerrar búsqueda" />
                        </button>
                    </div>
                </nav>
            </header>
            <main class="main">
                <article id="article-details">
                    <figure>
                        <img
                            src="https://m.media-amazon.com/images/I/710earas0RL._AC_SX679_.jpg"
                            alt="Imagen del producto"
                            loading="lazy"
                            decoding="async"
                        />
                        <figcaption class="visually-hidden">Producto XYZ</figcaption>
                    </figure>
                    <div>
                        <section>
                            <h1>Producto XYZ</h1>
                            <span>60.99</span>
                            <p>
                                Voluptas voluptatum quibusdam similique, class debitis alias maecenas eveniet ridiculus,
                                facilis fusce! Ullam conubia? Sociis, minima malesuada habitasse distinctio sequi aliqua
                                malesuada. Quisque deleniti proin expedita, aliquid litora. Iste recusandae? Commodo,
                                quia ridiculus doloribus vero dictum? Penatibus donec placeat faucibus, dolorum do.
                                Animi porta anim magnam
                            </p>
                        </section>
                        <div id="article-actions">
                            <button class="button primary">Actualizar</button>
                            <button class="button tertiary">Eliminar</button>
                        </div>
                    </div>
                </article>
                <section id="articles-section" class="articles__section"></section>
            </main>
            <footer class="footer">
                <section>
                    <nav>
                        <a href="#">
                            <img
                                src="../assets/images/logo.svg"
                                alt="Logo de AluraGeek"
                                loading="lazy"
                                decoding="async"
                            />
                        </a>
                        <ul>
                            <li><a href="#">Quienes somos</a></li>
                            <li><a href="#">Política de privacidad</a></li>
                            <li><a href="#">Programa de fidelidad</a></li>
                            <li><a href="#">Nuestras Tiendas</a></li>
                            <li><a href="#">Quiero ser franquiciado</a></li>
                            <li><a href="#">Anúncie aquí</a></li>
                        </ul>
                    </nav>
                    <div>
                        <h2>Hable con nosotros</h2>
                        <form>
                            <div class="input__box">
                                <fieldset>
                                    <input name="name" type="text" placeholder="" required />
                                    <legend>Nombre</legend>
                                </fieldset>
                                <p></p>
                            </div>
                            <div class="input__box">
                                <fieldset>
                                    <textarea name="message" placeholder="" required></textarea>
                                    <legend>Mensaje</legend>
                                </fieldset>
                                <p></p>
                            </div>
                            <button type="submit" class="button primary">Enviar mensaje</button>
                        </form>
                    </div>
                </section>
                <section>
                    <span>&copy; Yordi Castro Rojas</span>
                    <span>2023</span>
                </section>
            </footer>
        </div>
    </body>
    <script type="module" src="../scripts/components/navbar.js"></script>
    <script type="module" src="../scripts/sections/showArticle.js"></script>
</html>
